{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/teachers" >
        <section class="avatar"></section>
        <section class="details">
            <h2>Novo Professor</h2>

            <div class="item">
                <div>Foto de perfil</div>
                <div>
                    <input type="url" name="avatar_url" placeholder="https://">
                </div>
            </div>
            <div class="item">
                <div>Nome completo</div>
                <div>
                    <input type="text" name="name" placeholder="Seu nome aqui">
                </div>
            </div>
            <div class="item">
                <div>Data de nascimento</div>
                <div>
                    <input type="date" name="birth">
                </div>
            </div>
            <div class="item">
                <div>Escolaridade</div>
                <div>
                    <select name="schooling">
                        <option value="medio"selected>Ensino Médio Completo</option>
                        <option value="superior">Ensino Superior Completo</option>
                        <option value="mestrado">Mestrado</option>
                        <option value="doutorado">Doutorado</option>

                    </select>
                </div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>
                    <span><input type="radio" name="class_type" value="presencial" checked>Presencial</span>
                    <span><input type="radio" name="class_type" value="distancia">Á Distância</span>
                </div>
            </div>
            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" name="atuacao" placeholder="Escreva suas areas de atuação separadas por vírgula">
                </div>
            </div>

            <button type="submit">Salvar</button>
        </section>
    </form>
{% endblock content %}