<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/styles.css">

    </head>

    <body>
        <div class="container_flex">
            <nav class="header">
                <a class="active" href="/teachers">Teachers</a>
                <a href="/students">Students</a>
            </nav>

            <section class="align_page">
                {% block content %}
                {% endblock content %}
            </section>

        </div>

    </body>


</html>
