{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/students?_method=PUT" >
        <section
            class="avatar"
            style="background: url({{students.avatar_url}}) no-repeat top center / cover;">

        </section>
        <section class="details">
            <h2>Editar Aluno</h2>

            {% include "students/fields.njk" %}

            <input
                type="hidden"
                name="id"
                value="{{students.id}}">
        </section>
    </form>
{% endblock content %}