{% extends "teachers/layout.njk" %}


{% block content %}
    <div class="card index">
        <table>
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Matérias</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td><span style="background: url({{teacher.avatar_url}}) center center / cover"></span>{{teacher.name}}</td>
                        <td>{{teacher.atuacao}}</td>
                        <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock content %}