{% extends "students/layout.njk" %}


{% block content %}
    <div class="card">
        <section
            class="avatar"
            style="background: url({{students.avatar_url}}) no-repeat top center / cover;">

        </section>

        <section class="details">
            <h2>Detalhes</h2>

            <div class="item">
                <div>Nome</div>
                <div>{{students.name}}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{students.age}}</div>
            </div>
            <div class="item">
                <div>E-Mail</div>
                <div>{{students.email}}</div>
            </div>
            <div class="item">
                <div>Ano escolar</div>
                <div>{{students.grade}}</div>
            </div>
            <div class="item">
                <div>Carga horária semanal</div>
                <div><span>{{students.workload}} horas</span></div>
            </div>

            <div class="buttons">
                <a href="/students/{{students.id}}/edit" class="button_editar">Editar</a>

                <form  method="POST" action="/students?_method=DELETE" >
                    <button type="submit" class="button_deletar">Deletar</button>
                    <input type="hidden" name="id" value="{{students.id}}">
                </form>
            </div>


        </section>
    </div>
{% endblock content %}