@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


:root {
    --primary-color: rgb(70, 70, 70);
    --secondary-color: rgb(255, 217, 0);
    --three-color: rgb(122, 6, 84);
    --button-color: rgb(73, 195, 252);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);

}

nav {
    display: flex;
    width: 100vw;
    padding: 4vh 0;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 59);
}

.header a {
    font-size: 24px;
    font-weight: 500;
    color: rgb(235, 235, 235);
    position: relative;
}
.header .active {
    color: var(--secondary-color);
}

.header a + a {
    margin-left: 32px;
}

.header a:hover {
    color: var(--secondary-color);
}

.header a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    position:absolute;
    left: 0;
    bottom: -4px;
}

.header a:hover::after {
    width: 100%;
    transition: width 500ms ease-in-out;
}


/*==== Card ====*/

.card {
    display: grid;
    grid-template-columns: 5fr 6fr;
    width: 65%;
    min-height: 500px;
    background-color: white;
    margin: 25px auto 0;

    box-shadow: rgb(59, 59, 59) 4px 4px 6px -1px;
    animation-name: up;
    animation-duration: 500ms;

}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
    }
}

.avatar {
    width: 100%;
    height: 100%;

}

.details {
    padding:0 40px;
}

.details h2 {
    color: var(--three-color);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 32px;
    margin-top: 24px;
}

.details .item {
    border-bottom: solid 1px #9e9e9e;
    margin-top: 16px;
}

.details .aux {
    border: none !important;
}

.details .item div:first-child {
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 138, 180);
}
.details .item div:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 4px;
    color: rgb(83, 83, 83);
}

.details .item span {
    background-color: var(--three-color);
    color: white;
    border-radius: 16px;
    padding: 4px 24px;
    font-size:18px;
    display: inline-block;
    margin-bottom: 8px;
}

.details .item input {
    width: 100%;
    outline: none;
    font-size: 16px;
}
.details .item input[type=radio] {
    width: initial;
    margin-right: 4px;
}

.details button {
    background-color: var(--three-color);
    margin: 24px 0;
    padding: 8px 16px;
    width: 100%;
    color: white;
    font-size: 24px;
}

.details .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.details .button_editar {
    background-color: rgb(0, 104, 223);
    margin: 14px 0 ;
    padding: 8px 16px;
    width: 100%;
    color: white;
    font-size: 24px;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.details .button_deletar {
    background-color: rgb(192, 0, 0);
    margin: 14px 0 ;
    padding: 8px 16px;
    width: 100%;
    color: white;
    font-size: 24px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: solid 2px rgb(192, 0, 0);
}