{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/teachers" >
        <section
            class="avatar"
            style="background: url(https://source.unsplash.com/collection/1287676/900x900) no-repeat top center / cover;">

        </section>
        <section class="details">
            <h2>Novo Professor</h2>

            {% include "teachers/fields.njk" %}

        </section>
    </form>
{% endblock content %}